html {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.sidebar-logo-text {
  width: 162px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sidebar-logo {
  width: 60px;
  height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.sidebar {
  width: 375px;
  display: flex;
  z-index: 1;
  background-color: white;
}
.sidebarOpen {
  flex-direction: column;
}
.sidebarClosed {
  display: flex;
  justify-content: center;
  z-index: 1;
}

.mapbox {
  width: calc(100% - 375px);
}

@media only screen and (min-width: 600px) {
  .sidebarOpen,
  .sidebarClosed {
    height: 100vh;
    position: absolute;
    padding: 0px;
  }
}

p {
  color: black;
  width: 70%;
  padding-top: 10px;
}

.header-text {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 18pt;
}
.sub-header-text {
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 14pt;
  display: block;
}
.search-input {
  border-radius: 10px;
  font-size: 10pt;
  color: #757575;
  border: 1.5px solid #c7c7cc;
  padding: 7px;
  margin-left: 10px;
  margin-bottom: 15px;
  width: calc(100% - 20px);
}
.geocoder {
  /* width: 95%; */
}
.search-results {
  padding-left: 20px;
  line-height: 175%;
  font-size: 16px;
  font-weight: 400;
  color: #8E8E93;
}
.minimize {
  width: 90%;
  text-align: right;
  margin-bottom: 20px;
}
.search-button {
  border-radius: 5px;
  margin-top: 10px;
  background-color: #f2f2f2;
  font-weight: 500;
  width: 90px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 10pt;
  text-align: center;
}

.detail-box {
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  background-color: #f3f3f8;
  margin-left: 0px;
  padding-left: 20px;
  margin-right: 0px;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-left: 0px;
}

h1 {
  font-size: 19px;
  font-weight: 600;
}

h2 {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 600;
}

h3 {
  font-size: 28px;
  font-weight: 400;
  display: inline;
}

.h3_yaer {
  font-size: 15px;
  font-weight: 500;
  display: inline;
  margin-left: -2px;
}
